.card {
  background: linear-gradient(0deg, #e8f1f5, #e8f1f5);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);

  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.card p {
  color: #382851;
}

.card h3 {
  padding: 1rem;
  font-size: 1.2rem;
  color: #382851;
}

.card span {
  font-size: 2rem;
  color: #45629a;
}
