.formList {
  list-style-type: none;
}

.formLabel {
  margin: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
}

.formButton {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(151, 138, 198);
  border: 0px;
  width: 6rem;
  font-size: 1.2rem;
}


