.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  /* background: linear-gradient(to bottom right, #6b48a2, #5785b0, #41bfb7); */
  background-size: cover;
}

.carousel-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
  width: 90%;
  padding: 4rem;
}

h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 5px rgba(6, 4, 4, 0.559);
}

p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 5px rgb(6, 4, 4);
}

.btn-success {
  font-size: 1rem;
  background: linear-gradient(to bottom right, #6ad206, #6ad206, #49e064);
  border-style: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 5px rgba(6, 4, 4, 0.457);
}

.video {
  width: 100%;
}
/* 
.logo {
  width: 400px;
  height: auto;
} */
